<h1>{{title}}</h1>
<div><strong>Message: </strong>{{message}}</div>
<div><strong>Min: </strong>{{min}}</div>
<div><strong>Max: </strong>{{max}}</div>
<div><strong>Year: </strong>{{year}}</div>
<div>
  <h4>calling helper function random-number-in-range</h4>
  <p>{{random-number-in-range min max}}</p>
</div>